
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Poppins:wght@400;500;600&display=swap');


//992px
@media screen and (max-width: 62.375em){
    body .main-layout{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 5%;
        margin-bottom: 10%;
        justify-items: center;
       

        &-box{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            width: 90%;
            max-height: fit-content;
        }
        
        &-box1{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
            border-radius: 15px;
            width: 90%;
            height: fit-content;

            &-to-dolist{
                list-style: none;
                 width: 95%;
                 max-height: 280px; /* Adjust the max-height as needed */
                 overflow-x: hidden;
                 overflow-y: scroll;
                 padding-bottom: 8%;
    
            }   
            
            &-to-dos{
                min-width: fit-content;
                font-size: 1em;
                padding-left: 15px;
                padding-right: 5px;
                text-overflow:ellipsis;
                height: fit-content;
                min-height: fit-content;
                padding-bottom: 15px;
                width: 100%;
                
                

                &-todotext{
                    padding: 3%;
                    text-overflow:ellipsis;
                    font-size: 0.7rem;
                }
            }
         
            &-to-dolist::-webkit-scrollbar {
                width: 7px;
              }
              
              &-to-dolist::-webkit-scrollbar-thumb {
                background-color: #888;
                border-radius: 10px;
              }
              &-to-dolist::-webkit-scrollbar-thumb:hover {
                background-color: #1E1E1E;
              }
              &-to-dolist::-webkit-scrollbar-thumb {
                transition: background-color 0.3s ease;
              }

           
        }

        &-box2{
          
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            border-radius: 20px;
            width: 90%;
            height: fit-content;
           
            &-inputfield{
                width: 80%;
                font-size: 1.2em;
                height: 65%;
            }

            &-submitbutton{
                width: 30%;
            }

        }

        &-edit {
            width: 70%;
        }
         

        &-dustbin{
            width: 100%;
            margin-left: 0;
            padding: 0;
           
        }

       

    }
    
   }



.main-layout{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 55% 50%);
    grid-template-rows: repeat(2,1fr);
    gap: 18px;
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 8%;
    height: 88%;
    font-family: 'Inter',Arial, Helvetica, sans-serif;
    margin-bottom: 3%;
   

    &-box{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

    }

    &-box1{
        background-color: var(--color-light-pink);
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        border-radius: 20px;
        
        
        

        &-text{
            padding: 15px 30px;
            font-size: 27px;
        }

        &-text2{
            padding: 15px 30px;
            font-size: 22px;
        }
        
         
        &-to-dolist{
            list-style: none;
             width: 95%;
             padding-right: 1rem;
             
             max-height: 600px; /* Adjust the max-height as needed */
             overflow-x: hidden;
             overflow-y: scroll;

            
            }
            &-to-dolist::-webkit-scrollbar {
                width: 12px;
              }
              
              &-to-dolist::-webkit-scrollbar-thumb {
                background-color: #888;
                border-radius: 10px;
              }
              &-to-dolist::-webkit-scrollbar-thumb:hover {
                background-color: #1E1E1E;
              }
              &-to-dolist::-webkit-scrollbar-thumb {
                transition: background-color 0.3s ease;
              }

        &-to-dos{
            box-shadow: 0px 0px 9.356px 0px #E5E5E5;
            list-style: none;
            background-color: white;
             padding-left: 10px;
            padding-right: 15px;
            padding: 10px;
            font-size: 1.0625em;
            height: fit-content;
            border-radius: 20px;
            color: black;
            margin-left: 15px;
            margin-top: 20px;
            min-height: fit-content;
            min-width: fit-content;
            display: grid;
            //grid-template-columns: 10% 65% 15% 15%;
            grid-template-columns: 0.4fr 2fr 0.3fr 0.3fr; // changed it because the responsiveness when the screen devices changed starts
            //make the elements overlap 
           align-items: center;
            //width: fit-content;

            &-todotext{
                padding: 5%;
                text-transform: capitalize;
            }
        }
        &-priority {
            display: block;
            font-size: 0.7rem;
            font-weight: 400;
            border-radius: 0.29238rem;
            background: #FCEEF5;
            padding: 0.21925rem 0.36544rem 0.21925rem 0.43856rem;
            justify-content: center;
            align-items: center;
            gap: 0.58475rem;
            width: max-content;
            margin-top: 0.3rem;
        }
        &-edit {
            cursor: pointer;
        }
         

        &-dustbin{
            width: 90%;
            margin-left: 0;
            padding: 0;
           
        }

         &-delete{
        //      width: 28%;
        //      margin-left: 10%; 
             cursor: pointer;
        //      background-color: white;
        //      border-style: none;
        //      justify-self: end;
         }
    }

    &-box2{
        background-color: var(--color-light-pink);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        border-radius: 15px;
        width: 100%;
       
  

        &-text{
            padding: 15px 30px;
            font-size: 27px;
        }

        &-inputfield{
            width: 80%;
            height: 35%;
            border-style: initial;
            margin-left: 20px;
            padding: 5px;
            border-radius: 15px;
            border-style: groove;
            border-color: var(--color-dark-grey);
            border-width: 2px;
            font-size: 1.25rem;
        }
        
        

        &-submitbutton{
            margin: 15px 20px;
            height: 3em;
            width: 15%;
            border-radius: 10px;
            border-style: none;
            background-color: var(--color-dark-grey);
            color: white;
            
        }

        &-submitbutton:hover {
            cursor: pointer;
        }
    }
}

.css-nk89i7-MuiPickersCalendarHeader-root{
    background-color: var(--color-dark-grey);
   }

.css-cyfsxc-MuiPickersCalendarHeader-labelContainer{
    color: white;
}

.MuiDateCalendar-root.css-1q04gal-MuiDateCalendar-root{
    width: 100%;
    background-color: var(--color-light-pink);
    border-radius: 20px;
}

.css-1tkx1wf-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon{
  color: white;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit.css-1vooibu-MuiSvgIcon-root{
  color: white;
}

.MuiIconButton-sizeLarge {
    color: yellow;
}

