@media screen and (max-width: 62.375em){
    body .main-layout{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        padding-left: 25px;
       

        &-box{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            width: 90%;
        }
        
        &-box1{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
            border-radius: 15px;
            width: 90%;

           

            &-to-dos{
                min-width: fit-content;
                font-size: 20px;
                padding-left: 15px;
                padding-right: 5px;
                text-overflow: clip;
                height: fit-content;
                padding-bottom: 15px;
            }
        }

        &-box2{
          
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            border-radius: 20px;
            width: 90%;
            min-height: fit-content;
           
            &-inputfield{
                width: 70%;
            }

            &-submitbutton{
                width: 30%;
            }
        }

    }
    
   }

.main-layout{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 18px;
    padding: 40px 55px;
    height: 80%;
    font-family: Arial, Helvetica, sans-serif;
  
   

    &-box{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

    }

    &-box1{
        background-color: var(--color-light-pink);
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        border-radius: 20px;
        

        &-text{
            padding: 15px 30px;
            font-size: 27px;
        }

        &-text2{
            padding: 15px 30px;
            font-size: 22px;
        }
         
        &-to-dolist{
            list-style: none;
             width: 80%;
            
             
        }

        &-to-dos{
            list-style: none;
            background-color: white;
            padding-left: 60px;
            padding-right: 60px;
            padding-top: 10px;
            font-size: 20px;
            height: 50px;
            border-radius: 20px;
            color: black;
            margin-left: 15px;
            margin-top: 20px;
            min-height: fit-content;
            min-width: fit-content;
            
        }
    }

    &-box2{
        background-color: var(--color-light-pink);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        border-radius: 15px;

        &-text{
            padding: 15px 30px;
            font-size: 27px;
        }

        &-inputfield{
            width: 60ch;
            height: 55%;
            border-style: initial;
            margin-left: 20px;
            padding: 10px;
            padding-top: 0;
            border-radius: 15px;
            border-style: groove;
            border-color: var(--color-dark-grey);
            border-width: 2px;
            font-size: 1.25rem;
        }

        &-submitbutton{
            margin: 15px 20px;
            height: 2.5em;
            width: 10%;
            border-radius: 10px;
            border-style: none;
            background-color: var(--color-dark-grey);
            color: white;
        }
    }
}

.css-nk89i7-MuiPickersCalendarHeader-root{
    background-color: var(--color-dark-grey);
   }

.css-cyfsxc-MuiPickersCalendarHeader-labelContainer{
    color: white;
}

.MuiDateCalendar-root.css-1q04gal-MuiDateCalendar-root{
    width: 100%;
    background-color: var(--color-light-pink);
    border-radius: 20px;
}

.css-1tkx1wf-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon{
  color: white;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit.css-1vooibu-MuiSvgIcon-root{
  color: white;
}

.MuiIconButton-sizeLarge {
    color: yellow;
}

