
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Poppins:wght@400;500;600&display=swap');



@media screen and (max-width: 62.375em){
    body .main-layout{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        padding-left: 25px;
       

        &-box{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            width: 90%;
        }
        
        &-box1{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
            border-radius: 15px;
            width: 90%;

           

            &-to-dos{
                min-width: fit-content;
                font-size: 1em;
                padding-left: 15px;
                padding-right: 5px;
                text-overflow: clip;
                height: fit-content;
                padding-bottom: 15px;
            }

           
        }

        &-box2{
          
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            border-radius: 20px;
            width: 90%;
            min-height: fit-content;
           
            &-inputfield{
                width: 70%;
                font-size: 1.2em;
            }

            &-submitbutton{
                width: 30%;
            }
        }

        &-edit {
            width: 80%;
        }
         

        &-dustbin{
            width: 95%;
            margin-left: 0;
            padding: 0;
           
        }


    }
    
   }

.main-layout{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 60% 45%);
    grid-template-rows: repeat(2,1fr);
    gap: 18px;
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 8%;
    height: 80%;
    font-family: 'Inter',Arial, Helvetica, sans-serif;
  
   

    &-box{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

    }

    &-box1{
        background-color: var(--color-light-pink);
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        border-radius: 20px;
        
        

        &-text{
            padding: 15px 30px;
            font-size: 27px;
        }

        &-text2{
            padding: 15px 30px;
            font-size: 22px;
        }
        
         
        &-to-dolist{
            list-style: none;
             width: 95%;
            }

        &-to-dos{
           
            list-style: none;
            background-color: white;
            padding-left: 10px;
            padding-right: 15px;
            font-size: 1.0625em;
            height: fit-content;
            border-radius: 20px;
            color: black;
            margin-left: 15px;
            margin-top: 20px;
            min-height: fit-content;
            min-width: fit-content;
            display: grid;
             grid-template-columns: 10% 65% 15% 15%;
            align-items: center;
            justify-items: stretch;
            width: fit-content;

            &-todotext{
                padding: 5%;
            }
        }
        &-priority {
            display: block;
            font-size: 0.7rem;
            font-weight: 300;
        }
        &-edit {
            width: 90%;
        }
         

        &-dustbin{
            width: 90%;
            margin-left: 0;
            padding: 0;
           
        }

        &-delete{
             width: 28%;
             margin-left: 10%; 
             cursor: pointer;
             background-color: white;
             border-style: none;
             justify-self: end;
        }
    }

    &-box2{
        background-color: var(--color-light-pink);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        border-radius: 15px;

        &-text{
            padding: 15px 30px;
            font-size: 27px;
        }

        &-inputfield{
            width: 90%;
            height: 35%;
            border-style: initial;
            margin-left: 20px;
            padding: 10px;
            border-radius: 15px;
            border-style: groove;
            border-color: var(--color-dark-grey);
            border-width: 2px;
            font-size: 1.25rem;
        }

        &-submitbutton{
            margin: 15px 20px;
            height: 3em;
            width: 15%;
            border-radius: 10px;
            border-style: none;
            background-color: var(--color-dark-grey);
            color: white;
        }

        &-submitbutton:hover {
            cursor: pointer;
        }
    }
}

.css-nk89i7-MuiPickersCalendarHeader-root{
    background-color: var(--color-dark-grey);
   }

.css-cyfsxc-MuiPickersCalendarHeader-labelContainer{
    color: white;
}

.MuiDateCalendar-root.css-1q04gal-MuiDateCalendar-root{
    width: 100%;
    background-color: var(--color-light-pink);
    border-radius: 20px;
}

.css-1tkx1wf-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon{
  color: white;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit.css-1vooibu-MuiSvgIcon-root{
  color: white;
}

.MuiIconButton-sizeLarge {
    color: yellow;
}

