.main-layout{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 18px;
    padding: 40px 55px;
    height: 700px;
    font-family: Arial, Helvetica, sans-serif;

    &-box{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

    }

    &-box1{
        background-color: var(--color-light-pink);
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        border-radius: 20px;
        

        &-text{
            padding: 15px 30px;
            font-size: 27px;
        }
    }

    &-box2{
        background-color: var(--color-light-pink);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        border-radius: 15px;

        &-text{
            padding: 15px 30px;
            font-size: 27px;
        }
    }
}

.css-nk89i7-MuiPickersCalendarHeader-root{
    background-color: var(--color-dark-grey);
   }

.css-cyfsxc-MuiPickersCalendarHeader-labelContainer{
    color: white;
}

.MuiDateCalendar-root.css-1q04gal-MuiDateCalendar-root{
    width: 650px;
    background-color: var(--color-light-pink);
    border-radius: 20px;
}

.css-1tkx1wf-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon{
  color: white;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit.css-1vooibu-MuiSvgIcon-root{
  color: white;
}

